@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Poppins:wght@400;500;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255, 255, 255,.3);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;
    text-transform: capitalize;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top:9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}
section{
    padding: 2rem 7%;
}
.heading , .heading span{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
    padding-bottom: 3.5rem;    
}

.header{height: 5%;
    display: flex;
    background-color: var(--bg);
    justify-content: space-between;
    align-items:center;
    padding: 2rem 7% ;
    border-bottom:var(--border);
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
}
.header .logo img{
    height: 4.5rem;
}
.header .nav-bar a{
    color: #fff;
    font-size: 1.6rem;
    margin: 0 1rem;
}
.header .nav-bar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding: .5rem;
     
}
.header .icons div{
    color: #fff;
    font-size: 1.6rem;
    margin: 0 1rem;
}
.header .icons div:hover{
    color: var(--main-color);
    cursor: pointer;
}
#menuBtn{
    display: none;
}
.header .search-form{
    position: absolute;
    top: 115%; right:7%;
    background: #fff;
    width:50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform:scaleY(0);
    transform-origin: top;
}
.header .search-form.active{
    transform: scaleY(1);
}


.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}
.header .search-form label{
    cursor: pointer;
    font-size: 1.6rem;
    margin-right: 1.5rem;
    color: var(--black);
}
.header .search-form label:hover{
    color: var(--main-color);
}
.header .cart-item-container{
    position: absolute;
    top:100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}
.header .cart-item-container.active{
    right: 0;
}
.header .cart-item-container .cart-item{
    position: relative;
    margin: 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.cart-item img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}
.header .cart-item-container .cart-item .fa-times{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--black);
}
.header .cart-item-container .cart-item .fa-times:hover{
    color: var(--main-color);
}
.header .cart-item-container .cart-item .content h3{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5em;
}
.header .cart-item-container .cart-item .content .price{
    color: var(--main-color);
    font-size: 1.5rem;
}

.cart-item-container .cart-item:hover{
    border: .1rem solid var(--main-color);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    padding: .5rem;
}
.btn{
    margin: 1rem 0;
    display: inline-block;
    padding: .7rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
    
}
.btn:hover{
    letter-spacing: .2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.header .cart-item-container .btn{
    width: 100%;
    text-align: center;
}
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(./Images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 60rem;
}
.home .content h3{
    font-size: 6rem;
    color: #fff;
    text-transform: uppercase;
}
.home .content p{
    font-size: 1.5rem;
    color: #fff;
    font-weight: lighter;
    text-transform: capitalize;
    line-height: 1.8;
}

.heading span{
    color: var(--main-color);
}
.about .row{
    max-height: 100vh;
    display: flex;
    align-items: center;
    background-position: center;
}
.about .row{
    display: flex;
    align-items: center;
    background-color: var(--black);
    flex-wrap: wrap;
}
.about .row .image{
    flex: 1 1 45rem;
}
.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}
.about .row .content h3{
     font-size: 3rem;
     color: #fff;
}
.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap : 1.5rem;
}
.menu .box-container .box img{
    width: 10rem;
    height: 10rem;
    border-radius: 2rem;
}

.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}
.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}
.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 0;

}
.menu .box-container .box .price span{ 
    font-size: 1.5rem;
    color: #ccc;
    text-decoration: line-through;

}
.menu .box-container .box:hover{
    background: #fff ;
}
.menu .box-container .box:hover > *{
    color: var(--black);
}
.product .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1.5rem;
}
.product .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 2rem;
}
.product .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: #fff;
    margin: .3rem;
}
.product .box-container .box .icons a:hover{
    background: var(--main-color);
    cursor: pointer;
}
.product .box-container .box .icons .image{
    padding: 2.5rem 0;
}
.product .box-container .box .image img{
    height: 25rem ;
}
.product .box-container .content h3{
    color: #fff;
    font-size: 2.5rem;
}
.product .box-container .box .content .stars{
    padding: 1.5rem;
}
.product .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}
.product .box-container .box .content .price{
    color: #fff;
    font-size: 2.5rem;
}
.product .box-container .box .content .price span{
    color: #ccc;
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}
.product .box-container .box:hover , .product .box-container .box:hover .content .price span{
    background-color: var(--main-color);
    color: var(--black);
}
.product .box-container .box:hover .content .stars i{
    font-size: 1.7rem;
    color: #fff;
}
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}
.review .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 2rem;
}
.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
}
.review .box-container .box .quote{
    height : 10rem;
}
.review .box-container .box .user{
    height: 7rem;
    width: 7rem;;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.review .box-container .box h3{
    padding: 1rem;
    color: #fff;
    font-size: 2rem;
}
.review .box-container .box .stars i{
    font-size: 1.5rem;
    color: var(--main-color );
}
.contact .row{
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}
.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}
.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.4rem;
    color: #fff;
}
.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;  
    background: var(--bg);
    border: var(--border);
}
.contact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}
.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}
.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
}
.blogs .box-container .box{
    border: var(--border);
}
.blogs .box-container .box .image{
    height: 25rem;
    width:100%;
    overflow: hidden;

}
.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.blogs .box-container .box .image:hover img{
    transform: scale(1.2);
}
.blogs .box-container .box .content{
    padding: 2rem;
}
.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}
.blogs .box-container .box .content .title:hover{
    color:var(--main-color);
}
.blogs .box-container .box .content span{
    font-size: 2rem;
    display: block;
    padding-top: 1rem;
    color: var(--main-color);
}
.blogs .box-container .box .content p{
    color: #ccc;
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 1.6;
}
.footer { 
    background: var(--black);
    text-align: center;
}
.footer .share a{
    color: #fff;
    border-radius: 50% ;
    border: var(--border);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    margin: .3rem;
}
.footer .share a:hover{
    background-color: var(--main-color);
}
.footer .links{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem 0;
    justify-content: center;
}
.footer .links a{
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}
.footer .links a:hover{
    background-color: var(--main-color);
}
.footer .credit{
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem 0;
    font-size: 2rem;
}
/* media Queries */ 
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem;
    }
}


@media (max-width:768px){
    #menuBtn{
        display: inline-block;
    }
    .header .nav-bar{
        position: absolute;
        top: 100%;
        right: -100%;
        background:#fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    
    .header .nav-bar.active{
        right: 0;   
    }
    .header .nav-bar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    .header .search-form{
        width: 90%;
        right: 2rem;
    }
    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home h3{
        font-size: 4.5rem;
    }
    .home p{
        font-size: 1.5rem;
    }
    
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    
}